*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
background-color: rgba(135, 206, 250,0.3);
}

.first {
    background-color: whitesmoke;
    margin-top: 10px;
}

.arrow, .add, .middle, .stu, .teach {
    display: inline-block;
}

.arrow {
margin: 10px 150px 10px 150px;
}

.add {
margin: 10px 150px 10px 0px;
}

.middle,.stu,.teach {
    margin: 0px 120px 10px 0px;
    text-align: center;
}

.fblock {
    display: block;
}

.sch, .doc, .board, .ticket, .wa {
    display: inline-block;
}

.sch {
    border: 1px solid yellow;
    text-align: center;
    background-color: yellow;
    padding: 26px;
    margin-left: 150px;
    width: 200px;
    height: 150px;
    border-radius: 5%;
}

.doc {
    border: 1px solid yellow;
    text-align: center;
    background-color: rgba(0, 0, 139,0.7);
    padding: 26px;
    width: 200px;
    height: 150px;
    color: white;
    border-radius: 5%;
}
.board {
    border: 1px solid purple;
    text-align: center;
    background-color: rgba(128, 0, 128,0.7);
    padding: 26px;
    width: 200px;
    height: 150px;
    color: white;
    border-radius: 5%;
}
.ticket {
    border: 1px solid pink;
    text-align: center;
    background-color: pink;
    padding: 8px;
    width: 200px;
    height: 150px;
    color: white;
    border-radius: 5%;
}

.wa {
    border: 1px solid lightgreen;
    text-align: center;
    background-color: rgb(0, 255, 0);
    padding: 8px;
    width: 200px;
    height: 150px;
    color: white;
    border-radius: 5%;
}

.fib, .sib, .tib {
    display: inline-block;
}

.third,.sixth,.ninth{
    display: block;
    border: 1px solid red;
    border-radius: 5%;
    height: 100px;
    width: 250px;
    text-align: center;
    margin-left: 150px;
    margin-top: 40px;
    padding: 10px;
    background-color: red;
    color: white;
}

.reg {
    margin-top: 10px;
    margin-bottom: 10px;
}
.num {
    border: 1px solid whitesmoke; 
    color: darkcyan;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-bottom: 10px;
}

.fourth, .seventh {
    display: block;
    border: 1px solid darkslateblue;
    margin-top: 10px;
    background-color: rgba(72, 61, 139,0.8);
    border-radius: 5px;
    padding: 0px;
    margin-left: 50px;
    width: 400px;
    text-align: center;
}

.fourth svg,.third svg,.fifth svg, .sixth svg,.seventh svg, .eight svg, .ninth svg, .tenth svg {
    fill: whitesmoke;
}

.top {
    text-align: center;
    color: gold;
    margin-top: 10px;
}

.profiles {
    display: inline-block;
}

.pname {
    color: whitesmoke;
    /* margin-left: 5px; */
    margin-top: 50px;
    margin-bottom: 10px;
}

.profile1{
    color: whitesmoke;
    border: 1px solid darkslateblue;
    border-radius: 5px;
    text-align: center;
    background-color: darkslateblue;
    height: 90px;
    width: 70px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.profile2{
    color: whitesmoke;
    border: 1px solid darkslateblue;
    border-radius: 5px;
    text-align: center;
    background-color: darkslateblue;
    height: 110px;
    width: 70px;
    padding: 20px;
    margin-left: 8px;
    margin-right: 10px;
}
.profile3{
    color: whitesmoke;
    border: 1px solid darkslateblue;
    border-radius: 5px;
    text-align: center;
    background-color: darkslateblue;
    height: 70px;
    width: 70px;
    padding: 20px;
    margin-right: 10px;
    margin-left: 6px;
}

.pscore {
    color: whitesmoke;
    /* margin-left: 17px; */
    margin-top: 5px;
}

.fifth, .eight,.tenth{
    display: block;
    border: 1px solid darkblue;
    border-radius: 5%;
    height: 100px;
    width: 250px;
    text-align: center;
    margin-left: 50px;
    margin-top: 40px;
    padding: 10px;
    background-color: lightskyblue;
    color: white;
}

.block {
    display: flex;
}

.eleventh,.twelfth, .thirteen {
    border: 1px solid green;
    border-radius: 5%;
    height: 100px;
    width: 250px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: green;
    color: white;
}

.eleventh {
    margin-left: 150px;
}
.twelfth {
    margin-left: 150px;
}
.thirteen {
    margin-left: 105px;
}
.fourteenth {
    border: 1px solid brown;
    border-radius: 5%;
    height: 100px;
    width: 250px;
    text-align: center;
    margin-top: 10px;
    margin-left: 550px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: brown;
    color: white;
}


.second .material-symbols-outlined {
    font-size: 50px;
}
