@media screen and (min-width: 320px) and (max-width: 375px) {
  .main {
    margin: 5px;
  }
  /* .main-one {
    column-gap: 5px;
  } */
  .main-one {
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
  }
  .bms-logo {
    width: 50px;
  }
  form {
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
    width: 70px;
    padding: 5px;
    align-items: center;
    height: fit-content;
  }
  #searchbar {
    width: 100%;
    padding: 0px;
    height: 15px;
  }
  #searchbar::placeholder {
    width: 100%;
    padding: 0px;
    font-size: 12px;
    padding-bottom: 5px;
  }
  /* .main-two {
    column-gap: 5px;
  }
  #location {
    font-size: 14px;
    padding: 0px;
  }
  .main-two .signin {
    padding: 5px 2px;
    font-weight: normal;
  }
  .hamburger {
    display: none;
  } */
  .main-two {
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
    align-items: center;
  }
  #location {
    font-size: 12px;
    padding: 0px;
  }
  .main-two .signin {
    padding: 2px;
    font-size: 12px;
    font-weight: normal;
  }
  .btn {
    padding: 3px 12px !important;
  }
  .hamburger {
    width: 20px;
  }
  .nav {
    height: fit-content;
    display: grid;
  }
  /* .nav-left {
    column-gap: 0px;
    margin: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */
  .nav-left {
    column-gap: 0px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
  }
  .nav-right {
    column-gap: 0px;
    margin: 5px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-around;
  }
  .links a {
    font-size: 14px;
  }
  .hero {
    margin: 25px 0px;
  }
  .heading h2 {
    font-size: 18px;
    margin: 10px;
  }
  .movies {
    margin: 25px;
    margin-top: 0px;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }
  .movie-name {
    margin: 5px 0 0 0;
    padding: 0px;
    font-size: 16px;
    word-break: normal;
    justify-content: center;
  }
  .genre {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    word-break: normal;
    justify-content: center;
  }
  .movie-card:hover {
    /* transform: scale(1.1); */
    transform: none;
  }
  .movie-card {
    display: grid;
    justify-content: center;
  }
  .poster {
    height: 100%;
    width: 100%;
  }
  .banner {
    margin: 0px 25px 25px;
  }
  .stream-banner {
    height: 50px;
  }
  .live-events {
    margin: 0 25px;
  }
  .events {
    margin-top: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .event-poster:hover {
    /* transform: scale(1.1, 1.05); */
    transform: none;
  }
  .premieres {
    margin-top: 25px;
  }
  .premier-logo {
    padding: 0 25px;
    height: 50px;
  }
  .premier-content {
    margin: 0 25px;
  }
  .premier-content h2 {
    font-size: 18px;
  }
  .premier-content p {
    font-size: 10px;
    opacity: 0.8;
  }
  .premier-movies {
    margin: 0 25px;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .premier-movie-card {
    display: flex;
    flex-direction: column;
  }
  .premier-movie-card:hover {
    /* transform: scale(1.1, 1.05); */
    transform: none;
  }
  .premier-movie-card img {
    height: auto;
  }
  .premier-name {
    text-align: center;
    font-size: 16px;
  }
  .lang {
    opacity: 0.7;
    font: 12px;
    text-align: center;
  }
  .outdoor {
    margin: 25px;
  }
  .outdoor h2 {
    font-size: 18px;
  }
  .outdoor .new {
    font-size: 12px;
    padding: 2px 5px;
  }
  .outdoor-events {
    grid-template-columns: repeat(1, 1fr);
  }
  .oe-poster {
    height: auto;
  }
  .event-card:hover {
    /* transform: scale(1.1, 1.05); */
    transform: none;
  }
  .event-name {
    font-size: 16px;
    text-align: center;
  }
  .event-loc {
    opacity: 0.7;
    font-size: 12px;
    text-align: center;
  }
  .plays {
    margin: 25px;
  }
  .plays h2 {
    font-size: 18px;
  }
  .latest-plays {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .play-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .play-name {
    font-size: 16px;
  }
  .play-lang {
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 10px;
  }
  .sports {
    margin: 25px;
  }
  .sports h2 {
    font-size: 18px;
  }
  .latest-sports {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .sports-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .sports-name {
    font-size: 16px;
  }
  .sports-venue {
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 10px;
  }
  .activities {
    margin: 25px;
  }
  .activities h2 {
    font-size: 18px;
  }
  .latest-activities {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .activities-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .activities-name {
    font-size: 16px;
  }
  .activities-venue {
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 10px;
  }
  .first {
    margin: 5px;
    gap: 20px;
  }
  .first-left p {
    font-size: 12px;
  }
  .show {
    font-size: 12px;
  }
  .first button {
    display: block;
    margin: 0 auto;
  }
  .second {
    display: grid;
    gap: 10px;
    background-color: rgb(65, 65, 65);
    padding: 10px 0px;
  }
  .care:hover,
  .booking:hover,
  .newsletter:hover {
    /* transform: scale(1.1); */
    transform: none;
  }
  hr {
    height: 2px;
    background-color: rgba(188, 192, 196, 0.74);
  }
  .accounts {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
  }
  .twitter,
  .fb,
  .linkedin,
  .instagram,
  .youtube,
  .pinterest {
    width: 40px;
    height: 40px;
  }
  .copyright span {
    font-size: 9px;
  }
}

/*********************************/

@media screen and (min-width: 375px) and (max-width: 480px) {
  .main {
    margin: 10px;
    justify-content: space-around;
  }
  .main-one {
    column-gap: 10px;
  }
  .bms-logo {
    width: 45px;
  }
  form {
    column-gap: 0px;
    padding: 5px;
  }
  /* .fa-search {
    display: none !important;
  } */
  #searchbar {
    width: 70px;
    padding: 5px;
    padding-right: 0px;
    height: 15px;
  }

  .main-two {
    column-gap: 10px;
  }
  #location {
    font-size: 14px;
    padding: 0px;
  }
  .main-two .signin {
    padding: 0px 10px 2px;
    font-weight: 400;
  }
  .hamburger {
    width: 20px;
    height: auto;
  }
  .nav {
    display: grid;
  }
  .nav-left {
    column-gap: 0px;
    margin: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-right {
    column-gap: 0px;
    margin: 0px 10px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero {
    display: grid;
    margin: 25px 10px 0px;
  }
  .heading h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .movies {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 15px;
    row-gap: 0px;
    justify-items: center;
  }
  .poster {
    /* width: 174px; */
    height: auto;
  }
  .movie-card:hover {
    /* transform: scale(1.1, 1.05); */
    transform: none;
  }
  .movie-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 174px; */
  }
  .movie-name {
    margin: 5px 0 0;
    padding: 0 0 0 5px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
  }
  .genre {
    padding: 0 0 0 4px;
    font-size: 13px;
    margin-bottom: 0px;
    opacity: 0.7;
  }
  .banner {
    margin: 25px 10px;
  }
  .live-events {
    margin: 0 10px;
  }
  .events {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .event-poster:hover {
    /* transform: scale(1.1, 1.05); */
    transform: none;
  }
  .premieres {
    margin: 25px 0 0 0;
  }
  .premier-logo {
    padding: 0 10px;
  }
  .premier-content {
    margin: 0 10px;
  }
  .premier-content h2 {
    margin: 0;
    font-size: 18px;
  }
  .premier-content p {
    font-size: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  .premier-movies {
    margin: 0 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .premier-movie-card:hover {
    /* transform: scale(1.1, 1.05); */
    transform: none;
  }
  .outdoor {
    margin: 25px 10px;
  }
  .outdoor h2 {
    font-size: 18px;
  }
  .outdoor .new {
    font-size: 12px;
  }
  .outdoor-events {
    grid-template-columns: repeat(2, 1fr);
  }
  .event-card:hover {
    /* transform: scale(1.1, 1.05); */
    transform: none;
  }
  .event-name {
    font-size: 16px;
  }
  .event-loc {
    opacity: 0.7;
    font-size: 12px;
  }
  .plays {
    margin: 0px 10px 25px;
  }
  .plays h2 {
    font-size: 18px;
  }
  .latest-plays {
    grid-template-columns: repeat(2, 3fr);
    row-gap: 15px;
  }
  .play-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .play-name {
    font-size: 16px;
  }
  .play-lang {
    font-size: 12px;
    opacity: 0.7;
    padding-left: 4px;
  }
  .sports {
    margin: 0px 10px 25px;
  }
  .sports h2 {
    font-size: 18px;
  }
  .latest-sports {
    grid-template-columns: repeat(2, 3fr);
    row-gap: 15px;
  }
  .sports-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .sports-name {
    font-size: 16px;
  }
  .sports-venue {
    font-size: 12px;
    opacity: 0.7;
    padding-left: 4px;
  }
  .activities {
    margin: 0px 10px 25px;
  }
  .activities h2 {
    font-size: 18px;
  }
  .latest-activities {
    grid-template-columns: repeat(2, 3fr);
    row-gap: 15px;
  }
  .activities-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .activities-name {
    font-size: 16px;
  }
  .activities-venue {
    font-size: 12px;
    opacity: 0.7;
    padding-left: 4px;
  }
  .first {
    margin: 0px;
    padding: 20px 10px;
    display: block;
  }
  .first-left {
    justify-content: space-between;
  }
  .first-left p {
    font-size: 12px;
  }
  .show {
    font-size: 12px;
  }
  .first button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  .second {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(65, 65, 65);
    padding: 25px 0px;
  }
  .second p {
    margin: 0;
    text-transform: uppercase;
    color: rgba(188, 192, 196, 0.74);
  }
  .second svg {
    fill: rgba(188, 192, 196, 0.74);
  }
  .care {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  svg:hover,
  .second p:hover {
    cursor: pointer;
    color: white;
    fill: white;
  }
  .care:hover,
  .booking:hover,
  .newsletter:hover {
    /* transform: scale(1.1); */
    transform: none;
  }
  .booking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .second p {
    font-size: 12px;
    margin-top: 5px;
  }
  hr {
    height: 2px;
    background-color: rgba(188, 192, 196, 0.74);
  }
  .twitter,
  .fb,
  .linkedin,
  .instagram,
  .youtube,
  .pinterest {
    width: 40px;
    height: 40px;
  }
  .copyright span {
    font-size: 10px;
  }
}

/*********************************/

@media screen and (min-width: 480px) and (max-width: 825px) {
  .main {
    display: grid;
    grid-auto-flow: column;
    margin: 15px;
    align-items: center;
    justify-content: space-between;
  }
  .main-one {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 10px;
  }
  .bms-logo {
    width: 70px;
  }
  form {
    width: 106%;
  }
  #searchbar {
    width: 100%;
    padding: 0px 5px 0px;
  }
  .main-two {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
  }
  #location {
    font-size: 16px;
    padding: 5px;
  }
  .main-two .signin {
    padding: 4px 10px;
    font-weight: 400;
    cursor: pointer;
  }
  .hamburger {
    width: 30px;
    height: auto;
  }
  .nav {
    display: grid;
  }
  .nav-left {
    width: 100%;
    justify-content: space-between;
    padding: 0px;
    margin: 10px 15px;
  }
  .nav-right {
    width: 100%;
    justify-content: space-evenly;
    margin: 10px 15px;
    margin-top: 0px;
  }
  .hero {
    margin: 25px 15px;
  }
  .heading h2 {
    font-size: 20px;
  }
  .movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 15px;
  }
  .movie-card {
    /* width: 150px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .movie-card:hover {
    /* transform: scale(1.1, 1.05); */
    transform: none;
  }
  .poster {
    border-radius: 10px;
    height: auto;
    /* display: flex; */
    /* width: 150px; */
  }
  .details {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
  }
  .movie-name {
    padding: 0px;
    font-size: 17px;
  }
  .genre {
    padding: 0px;
    font-size: 13px;
    opacity: 0.7;
  }
  .banner {
    margin: 25px 15px;
  }
  .live-events {
    margin: 0px 15px;
  }
  .event-poster:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .premieres {
    margin-top: 25px;
  }
  .premier-logo {
    padding: 0 15px;
  }
  .premier-content {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 15px;
  }
  .premier-content h2 {
    margin: 0;
    font-size: 20px;
  }
  .premier-content p {
    font-size: 10px;
    opacity: 0.9;
  }
  .premier-movies {
    margin: 0 15px;
    grid-template-columns: repeat(3, 1fr);
  }
  .premier-movie-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .premier-name {
    font-size: 17px;
  }
  .lang {
    font-size: 13px;
    opacity: 0.7;
  }
  .outdoor {
    margin: 25px 15px;
  }
  .outdoor h2 {
    font-size: 20px;
  }
  .outdoor .new {
    font-size: 14px;
  }
  .outdoor-events {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 15px;
  }
  .event-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .event-name {
    font-size: 17px;
  }
  .event-loc {
    font-size: 13px;
    opacity: 0.7;
  }
  .plays {
    margin: 25px 15px;
  }
  .plays h2 {
    font-size: 20px;
  }
  .latest-plays {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
  }
  .play-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .play-name {
    font-size: 17px;
  }
  .play-lang {
    font-size: 13px;
    opacity: 0.7;
  }
  .sports {
    margin: 25px 15px;
  }
  .sports h2 {
    font-size: 20px;
  }
  .latest-sports {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
  }
  .sports-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .sports-name {
    font-size: 17px;
  }
  .sports-venue {
    font-size: 13px;
    opacity: 0.7;
  }
  .activities {
    margin: 25px 15px;
  }
  .activities h2 {
    font-size: 20px;
  }
  .latest-activities {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
  }
  .activities-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .activities-name {
    font-size: 17px;
  }
  .activities-venue {
    font-size: 13px;
    opacity: 0.7;
  }
  .first {
    display: grid;
    row-gap: 15px;
  }
  .first-left {
    column-gap: 20px;
  }
  .first button {
    height: fit-content;
    border: none;
    background-color: rgba(236, 94, 113);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  hr {
    height: 2px;
    background-color: rgba(188, 192, 196, 0.74);
  }
}
@media screen and (min-width: 825px) and (max-width: 1024px) {
  .main {
    display: grid;
    grid-auto-flow: column;
    margin: 15px 25px;
    align-items: center;
    justify-content: space-between;
  }
  .main-one {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 20px;
  }
  .bms-logo {
    width: 80px;
  }
  form {
    width: 148%;
  }
  #searchbar {
    width: 100%;
    padding: 0px 5px 0px;
  }
  .main-two {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
  }
  #location {
    font-size: 16px;
    padding: 5px;
  }
  .main-two .signin {
    padding: 4px 10px;
    font-weight: 400;
    cursor: pointer;
  }
  .hamburger {
    width: 30px;
    height: auto;
  }
  .nav-left,
  .nav-right {
    margin: 10px 25px;
  }
  .hero {
    margin: 25px;
  }
  .heading h2 {
    font-size: 22px;
  }
  .movies {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }
  .movie-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .movie-name {
    font-size: 17px;
  }
  .genre {
    font-size: 13px;
    opacity: 0.7;
  }
  .banner {
    margin: 25px;
  }
  .live-events {
    margin: 25px;
  }
  .event-poster:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .premieres {
    margin-top: 25px;
  }
  .premier-logo {
    padding: 0 25px;
  }
  .premier-content {
    margin: 0 25px;
  }
  .premier-content h2 {
    font-size: 22px;
  }
  .premier-content p {
    opacity: 0.8;
  }
  .premier-movies {
    margin: 0 25px;
    column-gap: 15px;
  }
  .premier-movie-card {
    margin-bottom: 15px;
  }
  .premier-movie-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .premier-name {
    font-size: 16px;
  }
  .lang {
    font-size: 13px;
    opacity: 0.7;
  }
  .outdoor {
    margin: 25px;
  }
  .outdoor h2 {
    font-size: 22px;
  }
  .outdoor .new {
    font-size: 14px;
  }
  .outdoor-events {
    gap: 15px;
  }
  .event-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .event-name {
    font-size: 17px;
  }
  .event-loc {
    font-size: 13px;
    opacity: 0.7;
  }
  .plays {
    margin: 25px;
  }
  .plays h2 {
    font-size: 22px;
  }
  .latest-plays {
    column-gap: 15px;
  }
  .play-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .play-name {
    font-size: 17px;
  }
  .play-lang {
    font-size: 13px;
    opacity: 0.7;
  }
  .sports {
    margin: 25px;
  }
  .sports h2 {
    font-size: 22px;
  }
  .latest-sports {
    column-gap: 15px;
  }
  .sports-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .sports-name {
    font-size: 17px;
  }
  .sports-venue {
    font-size: 16px;
    opacity: 0.7;
  }
  .activities {
    margin: 25px;
  }
  .activities h2 {
    font-size: 22px;
  }
  .latest-activities {
    column-gap: 15px;
  }
  .activities-card:hover {
    /* transform: scale(1.02, 1.02); */
    transform: none;
  }
  .activities-name {
    font-size: 17px;
  }
  .activities-venue {
    font-size: 13px;
    opacity: 0.7;
  }
  .first {
    justify-content: center;
    margin: 0px 5px;
    gap: 10px;
  }
  .first button {
    display: flex;
  }
  hr {
    height: 2px;
    background-color: rgba(188, 192, 196, 0.74);
  }
}

@media screen and (min-width: 1750px) and (max-width: 2560px) {
  .bms-logo {
    width: 150px;
    cursor: pointer;
  }
  .main-one {
    column-gap: 50px;
  }
  .main-two {
    column-gap: 70px;
  }
  .movies {
    gap: 10px;
    row-gap: 30px;
  }
  .poster {
    width: 100%;
    height: auto;
  }
  .oe-poster {
    height: auto;
  }
  .play-poster {
    height: auto;
  }
  .sports-poster {
    height: auto;
  }
  .activities-poster {
    height: auto;
  }
  hr {
    height: 2px;
    background-color: rgba(188, 192, 196, 0.74);
  }
}
